{% extends "base.html" %}
{% block title %}{{block.super}} | {% endblock %}
{% block content %}
      <p class='fs-3 fw-bold font-monospace'>Details for {{product.name}}</p>
      <div class='fs-3 fw-bold font-monospace '>Description</div>
      <div class="text-center text-green fs-4 font-monospace text-primary" >{{product.description}}</div>
      <div class='fs-3 fw-bold font-monospace '>Ages</div>
      <div class="text-start fs-5 text-green font-monospace text-primary">{{product.age_range}}</div>
      <div class='fs-3 fw-bold font-monospace'>Price</div>
      <div class="text-start fs-5 text-green font-monospace text-primary ">{{product.price}}</div>
    
    <a href= "{% url 'index'  %}"class='btn btn-outline-dark '>Back to all toys</a>
  {% endblock %}
    {% block footer %}
    {% endblock %}